<!DOCTYPE html>
<html lang="zxx" class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>Ekejiuba Prince - Personal Portfolio</title>
    <!-- / -->

    <!---Font Icon-->
    <link href="/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <!-- / -->

    <!-- Plugin CSS -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <link href="/static/plugin/nav/css/component.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/swiper/swiper-bundle.min.css">
    <!-- / -->

    <!-- Theme Style -->

    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/color/default.css" rel="stylesheet">


    <script src="/static/plugin/nav/js/modernizr-custom.js"></script>
    <script src="/static/ajax/script.js"></script>
    <!-- / -->

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" />
    <!-- / -->


</head>

<!-- Body Start -->

<body class="dark-body">
    <!-- Loading -->
    <div id="loading">
        <div class="load"><span class="one">loading</span></div>
    </div>
    <!-- / -->



    <!-- navigation -->
    <nav class="pages-nav">
        <div class="pages-nav__item"><a class="link link--page" href="#home">Home</a></div>
        <div class="pages-nav__item"><a class="link link--page" href="#about">About Us</a></div>
        <div class="pages-nav__item"><a class="link link--page" href="#services">Services</a></div>
        <div class="pages-nav__item"><a class="link link--page" href="#testimonials">testimonials</a></div>
        <div class="pages-nav__item"><a class="link link--page" href="#portfolio">Portfolio</a></div>
        <div class="pages-nav__item"><a class="link link--page" href="#contact">Contact Me</a></div>
    </nav>
    <!-- /navigation-->

    <div class="pages-stack">

        <!-- 
    ====================
    Home Banner
    ====================
     -->
        <div class="page home-banner" id="home">
            <div class="container-fluid">
                <div class="row full-screen">
                    <div class="col-lg-6 black-bg">
                        <div class="user-img text-center d-flex align-items-end h-100 justify-content-center">
                            <img src="static/img/home.jpg" title="" alt="" height="80%" width="60%" style="border-radius: 15px; margin-bottom:10px; box-shadow:3px 4px 5px rgb(255, 255, 255)">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-lg-6 theme-bg">
                        <div class="d-flex h-100 align-items-center">
                            <div class="particles-block" id="particles-box"></div>
                            <div class="home-text">
                                <h1>Ekejiuba Prince</h1>
                                <div class="ht-text">
                                    <h4>A Freelance <span class="font-alt theme-color">Web <span id="type-it"></span></span>
                                    </h4>
                                </div>
                                <div class="btn-bar">
                                    <a class="m-btn m-btn-white" href="/static/my-cv.pdf" download>Download CV</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </div>

        <!-- 
    ====================
    About Us
    ====================
     -->
        <div class="page about-section white-bg" id="about">
            <div class="page-scroll">
                <div class="page-title" style="background-image: url(static/img/home-bg-2.jpg);">
                    <div class="container">
                        <h1>About Me</h1>
                    </div>
                </div>
                <!-- page tiele -->
                <div class="page-content">
                    <!-- About Us -->
                    <div class="aboutus-box section gray-bg">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6 text-center md-m-45px-b p-50px-r md-p-15px-r">
                                    <img src="static/img/about-img.jpg" title="" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="my-info">
                                        <h6 class="font-alt theme-color">Ekejiuba Prince</h6>
                                        <h1 class="dark-color">The Best Web Solution Provider</h1>
                                        <h5 class="dark-color">WEB DESIGN | DIGITAL MARKETING | WEB DEVELOPMENT | GRAPHICS DESIGN</h5>
                                        <p>I offer a quite range of web related services as a freelancer and as part of the Dvulech Team.</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul>
                                                    <li><span class="dark-color">Birthday</span>: 03.06.2000</li>
                                                    <li><span class="dark-color">Location</span>: 25, otawike avenue, Aba.</li>
                                                    <li><span class="dark-color">Study</span>: Federal University Of Technology Owerri</li>
                                                    <li><span class="dark-color">Website</span>: www.astrodev.com.ng</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li><span class="dark-color">Age:</span>: 22</li>
                                                    <li><span class="dark-color">Location</span>: 25, otawike avenue, Aba.</li>
                                                    <li><span class="dark-color">Degree</span>: highschool</li>
                                                    <li><span class="dark-color">Email</span>: denniseinstien@gmail.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- row -->
                                        <div class="btn-bar">
                                            <a class="m-btn m-btn-black " href="/static/my-cv.pdf" download><span>Download CV</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- / -->

                    <!-- skill bar -->
                    <div class="skill-box section gray-bg border-top">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="aboutus-text p-80px-r md-p-0px-r md-m-40px-b">
                                        <h6 class="theme-color font-alt">About Me</h6>
                                        <h1 class="dark-color">web development creative design</h1>
                                        <p>Am a fulls tack web developer with 6months experience in node js and php.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="skill-left">
                                        <div class="progress-lt">
                                            <h6>HTML</h6>
                                            <div class="cs-progress">
                                                <div class="progress-bar theme-bg" style="width: 92%;">
                                                    <span>92%</span>
                                                </div>
                                                <!-- progress-bar -->
                                            </div>
                                            <!-- progress -->
                                        </div>
                                        <!-- progress-lt -->
                                        <div class="progress-lt">
                                            <h6>CSS</h6>
                                            <div class="cs-progress">
                                                <div class="progress-bar theme-bg" style="width: 92%;">
                                                    <span>84%</span>
                                                </div>
                                                <!-- progress-bar -->
                                            </div>
                                            <!-- progress -->
                                        </div>
                                        <!-- progress-lt -->
                                        <div class="progress-lt">
                                            <h6>PHP</h6>
                                            <div class="cs-progress">
                                                <div class="progress-bar theme-bg" style="width: 52%;">
                                                    <span>50%</span>
                                                </div>
                                                <!-- progress-bar -->
                                            </div>
                                            <!-- progress -->
                                        </div>
                                        <!-- progress-lt -->
                                        <div class="progress-lt">
                                            <h6>JavaScript</h6>
                                            <div class="cs-progress">
                                                <div class="progress-bar theme-bg" style="width: 92%;">
                                                    <span>88%</span>
                                                </div>
                                                <!-- progress-bar -->
                                            </div>
                                            <!-- progress -->
                                        </div>
                                        <!-- progress-lt -->
                                    </div>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- / -->

                </div>
                <!-- page-content -->
            </div>
            <!-- page-scroll -->
        </div>

        <!-- 
    ====================
    Services
    ====================
     -->
        <div class="page resume-section white-bg" id="services">
            <div class="page-scroll">
                <div class="page-title" style="background-image: url(static/img/home-bg-2.jpg);">
                    <div class="container">
                        <h1>My Services</h1>
                    </div>
                </div>
                <!-- page tiele -->

                <div class="page-content">
                    <!-- services -->
                    <div class="services-box section gray-bg">
                        <div class="container">
                            <div class="row justify-content-center m-60px-b sm-m-40px-b">
                                <div class="col-md-10 col-lg-8">
                                    <div class="section-title text-center">
                                        <h6 class="font-alt theme-color">My Services</h6>
                                        <h2 class="dark-color">I love to find simple solutions to complex challenges.</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->

                            <div class="row">
                                <div class="col-md-6 col-lg-4 m-15px-tb">
                                    <div class="feature-box">
                                        <div class="icon">
                                            <i class="ti-ruler-pencil theme-color"></i>
                                        </div>
                                        <div class="feature-content">
                                            <h5 class="dark-color">Development</h5>
                                            <p>A full stack web developer who has worked with certain web technologies such as php and node js.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 m-15px-tb">
                                    <div class="feature-box">
                                        <div class="icon">
                                            <i class="ti-image theme-color"></i>
                                        </div>
                                        <div class="feature-content">
                                            <h5 class="dark-color">Graphic Design</h5>
                                            <p>I design basic flyers and posters also skilled in photo edits and logo designs and also social media display ads.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 m-15px-tb">
                                    <div class="feature-box">
                                        <div class="icon">
                                            <i class="ti-layout theme-color"></i>
                                        </div>
                                        <div class="feature-content">
                                            <h5 class="dark-color">Digital Marketting</h5>
                                            <p>As a google certified marketter am also skilled in the use of display advertising social media Marketting etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container -->
                    </div>
                    <!-- / -->

                    <!-- counter -->
                    <div class="counter-box theme-bg section">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                                    <div class="counter-data" data-count="375">
                                        <div class="count">
                                            <%= portf.length %>
                                        </div>
                                        <h6>Happy Clients</h6>
                                    </div>
                                </div>
                                <!-- col -->

                                <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                                    <div class="counter-data" data-count="450">
                                        <div class="count">
                                            <%= portf.length %>
                                        </div>
                                        <h6>Number Of projects</h6>
                                    </div>
                                </div>
                                <!-- col -->

                                <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                                    <div class="counter-data" data-count="550">
                                        <div class="count">
                                            <%= testi.length %>
                                        </div>
                                        <h6>Total reviews</h6>
                                    </div>
                                </div>
                                <!-- col -->

                                <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                                    <div class="counter-data" data-count="650">
                                        <div class="count">
                                            <%= portf.length %>
                                        </div>
                                        <h6>Project Completed</h6>
                                    </div>
                                </div>
                                <!-- col -->
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- / -->

                </div>
                <!-- page-content -->
            </div>
            <!-- page-scroll -->
        </div>

        <!--          
    ====================
       Testimonials
    ====================
     -->
        <div class="page resume-section white-bg" id="testimonials">
            <div class="page-scroll">
                <div class="page-title" style="background-image: url(static/img/home-bg-2.jpg);">
                    <div class="container">
                        <h1>My testimonials </h1>
                    </div>
                </div>
                <!-- page tiele -->

                <div class="page-content">
                    <!-- services -->
                    <div class="services-box section gray-bg">
                        <div class="container">
                            <div class="row justify-content-center m-60px-b sm-m-40px-b">
                                <div class="col-md-10 col-lg-8">
                                    <div class="section-title text-center">
                                        <h6 class="font-alt theme-color">My testimonials</h6>
                                        <h2 class="dark-color">What some lovely clients have said about my work.</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->

                            <div class="row">

                                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                                    <div class="swiper-wrapper">
                                        <% if (testi.length>0) { %>
                                            <% testi.forEach((testimonial) => { %>
                                                <div class="swiper-slide">
                                                    <div class="testimonial-item">
                                                        <p>
                                                            <i class="fas fa-quote-left"></i>
                                                            <%= testimonial.testimonial %> <i class="fas fa-quote-right quote-icon-right"></i>
                                                        </p>
                                                        <img src="<%= testimonial.imgsrc %>" class="testimonial-img" alt="" style="width:100px ; height:100px; border-radius:50%;">
                                                        <h3>
                                                            <%= testimonial.name %>
                                                        </h3>
                                                        <h4><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h4>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                    <% }else{ %>
                                                        <h4>No testimonial</h4>
                                                        <% } %>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>




                            </div>
                        </div>
                        <!-- container -->
                    </div>
                    <!-- / -->

                    <!-- counter -->

                    <!-- / -->

                </div>
                <!-- page-content -->
            </div>
            <!-- page-scroll -->
        </div>
        <!--        
    ====================
    Portfolio
    ====================
     -->
        <div class="page white-bg" id="portfolio">
            <div class="page-scroll">
                <div class="page-title" style="background-image: url(static/img/home-bg-2.jpg);">
                    <div class="container">
                        <h1>My Portfolio</h1>
                    </div>
                </div>
                <!-- page tiele -->

                <div class="page-content">
                    <div class="section">
                        <div class="container">
                            <div class="row justify-content-center m-50px-b sm-m-30px-b">
                                <div class="col-md-10 col-lg-8">
                                    <div class="section-title text-center">
                                        <h6 class="font-alt theme-color">My Portfolio</h6>
                                        <h2 class="dark-color">Take a Look Around<br>My Portfolio.</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <ul class="portfolio-cols portfolio-cols-3">
                                    <% if (portf.length>0) { %>
                                        <%portf.forEach((portfolio)=>{ %>
                                            <li class="portfolio-item">
                                                <div class="portfolio-col">
                                                    <div class="portfolio-img">
                                                        <img src="<%=portfolio.imgsrc%>" title="" alt="">
                                                    </div>
                                                    <div class="portfolio-info">
                                                        <h5>
                                                            <a href="<%=portfolio.link%>">
                                                                <%=portfolio.name%>
                                                            </a>
                                                        </h5>
                                                        <span class="theme-color">Resent Work</span>
                                                        <a class="lightbox-gallery" href="static/img/portfolio-1.jpg">
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- Portfolio -->
                                            </li>
                                            <% }) %>
                                                <% }else {%>
                                                    <h2 class="ml-1">No recent Works</h2>
                                                    <% } %>


                                </ul>
                                <!-- row -->
                            </div>
                            <!-- portfolio content -->
                        </div>
                    </div>

                    <div class="theme-bg section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div id="client-slider-single" class="owl-carousel">





                                    </div>
                                </div>
                            </div>
                            <!-- row -->

                        </div>
                    </div>
                </div>
                <!-- page-content -->
            </div>
        </div>

        <!-- 
    ====================
    Contact us
    ====================
     -->
        <div class="page white-bg" id="contact">
            <div class="page-scroll">
                <div class="page-title" style="background-image: url(static/img/home-bg-2.jpg);">
                    <div class="container">
                        <h1>Contact Me</h1>
                    </div>
                </div>
                <!-- page tiele -->

                <div class="page-content">
                    <div class="section gray-bg">
                        <div class="container">
                            <div class="row justify-content-center m-60px-b sm-m-25px-b">
                                <div class="col-md-10 col-lg-8">
                                    <div class="section-title text-center">
                                        <h6 class="font-alt theme-color">Contact Me</h6>
                                        <h2 class="dark-color">Let's Work Together.</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- row -->


                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-4">
                                    <div class="contact-info">
                                        <p>
                                            <label>Address</label>
                                            <span class="dark-color">25 otawike avenue,<br/>Aba, Abia state</span>
                                        </p>
                                        <p>
                                            <label>Email</label>
                                            <span class="dark-color">info@astrodev.com.ng<br/>support@astrodev.com.ng</span>
                                        </p>
                                        <p>
                                            <label>Call</label>
                                            <span class="dark-color">+23490 185 799 50</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-8 md-m-30px-t">
                                    <div class="contact-form">
                                        <form class="form" method="post" action="">
                                            <div class="row">
                                                <h4 style="color: green;"></h4>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="name" name="name" type="text" placeholder="Name" class="validate form-control" required="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="email" type="email" placeholder="Email" name="email" class="validate form-control" required="">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea id="message" placeholder="Your Comment" name="message" class="form-control" required=""></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="send">
                                                        <button class="m-btn m-btn-black " type="submit" name="send"><span>send message</span></button>
                                                    </div>
                                                    <span class="output_message"></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-12 m-30px-t">
                                    <div class="contact-map">
                                        <div class="embed-responsive embed-responsive-21by9">
                                            <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=uratta%20aba&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- page-content -->
            </div>
        </div>


    </div>

    <!-- 
    ====================
    Header
    ====================
  -->
    <header class="header">
        <div class="logo">E</div>
        <div class="menu-toggle">
            <button class="menu-button"><span>Menu</span></button>
        </div>
        <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
        </ul>
    </header>

    <!-- jQuery -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>

    <!-- Plugins -->
    <script src="/static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="/static/plugin/typeit-master/typeit.min.js"></script>
    <script src="/static/plugin/isotope/isotope.pkgd.min.js"></script>
    <script src="/static/plugin/magnific/jquery.magnific-popup.min.js"></script>
    <script src="/static/plugin/particles/particles.js"></script>
    <script src="/static/plugin/particles/particles-app.js"></script>

    <script src="/static/plugin/nav/js/classie.js"></script>
    <script src="/static/plugin/nav/js/main.js"></script>
    <script src="/static/swiper/swiper-bundle.min.js"></script>
    <script>
        new Swiper('.testimonials-slider', {
            speed: 600,
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false
            },
            slidesPerView: 'auto',
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                    spaceBetween: 40
                },

                1200: {
                    slidesPerView: 3,
                }
            }
        });
    </script>



    <!-- custom -->
    <script src="/static/js/custom.js"></script>

</body>
<!-- Body End -->

</html>